# Pandas

- 1차원 Series Class : 1차원  ->  인덱스(index) + 값(value)
- 2차원 DataFrame Class : 2차원 -> 행과 열을 가지는 표와 같은 형태

In [1]:
import pandas as pd

# series 생성

In [3]:
population = pd.Series([9668465,3392946,2943848,1450062],
                        index = ['서울','부산','인천','광주'])            # 인덱스 지정하여 생성
population

서울    9668465
부산    3392946
인천    2943848
광주    1450062
dtype: int64

In [4]:
population.values                #Series값 확인

array([9668465, 3392946, 2943848, 1450062], dtype=int64)

In [5]:
population.index                #Series 인덱스확인

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [6]:
population.dtype               #Series 타입 확인

dtype('int64')

In [7]:
population.name = '인구'              #Series에 이름 지정         
population.index.name = '도시'
population

도시
서울    9668465
부산    3392946
인천    2943848
광주    1450062
Name: 인구, dtype: int64

#### series 연산

In [8]:
population/1000000

도시
서울    9.668465
부산    3.392946
인천    2.943848
광주    1.450062
Name: 인구, dtype: float64

In [9]:
population*5

도시
서울    48342325
부산    16964730
인천    14719240
광주     7250310
Name: 인구, dtype: int64

In [10]:
population+200000

도시
서울    9868465
부산    3592946
인천    3143848
광주    1650062
Name: 인구, dtype: int64

### Series 인덱싱

In [11]:
population[1],population['부산']

(3392946, 3392946)

In [12]:
population[3],population['광주']

(1450062, 1450062)

In [14]:
population[[0,3,1]]           # 여러개를 출력하고 싶을떈 대괄호로 한번더 묶어서 리스트로 출력

도시
서울    9668465
광주    1450062
부산    3392946
Name: 인구, dtype: int64

In [15]:
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3392946
Name: 인구, dtype: int64

### Series Boolean 인덱싱

In [17]:
population >= 2500000

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

In [18]:
population[population >= 2500000]

도시
서울    9668465
부산    3392946
인천    2943848
Name: 인구, dtype: int64

In [19]:
population[population >= 3000000]

도시
서울    9668465
부산    3392946
Name: 인구, dtype: int64

In [23]:
population[(population >= 2500000) & (population <= 5000000)]

도시
부산    3392946
인천    2943848
Name: 인구, dtype: int64

## Series 슬라이싱

In [24]:
population[1:3]

도시
부산    3392946
인천    2943848
Name: 인구, dtype: int64

In [25]:
population['부산' : '인천']

도시
부산    3392946
인천    2943848
Name: 인구, dtype: int64

### Dictionary객체로 Series 생성

In [26]:
data = {'피카츄' :9631, '꼬부기' : 3393,                   #  딕셔너리는 계산이 안된다. pd로 변환하여 연산
        '파이리' :1490, '이상해씨' : 2632}
pokemon = pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [27]:
data2 = {'피카츄' :9904, '꼬부기' : 3448,
        '이브이' :2466, '뮤' : 2890}
pokemon_up = pd.Series(data2)
pokemon_up

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

In [28]:
attack = pokemon_up - pokemon
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [30]:
attack.notnull()                # boolean 값

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [34]:
attack[attack.notnull()]           # null값 제거  : 비어있지 않은 데이터들만 보기

꼬부기     55.0
피카츄    273.0
dtype: float64

In [41]:
attack[attack.isnull()]            # 비어있는 데이터들만 보기

뮤      NaN
이브이    NaN
이상해씨   NaN
파이리    NaN
dtype: float64

### 레벨업해서 올라간 공격력의 증가율(%)을  계산

In [37]:
rp =  (pokemon_up - pokemon) / pokemon *100
rp

꼬부기     1.620984
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.834597
dtype: float64

In [38]:
rp[rp.notnull()]

꼬부기    1.620984
피카츄    2.834597
dtype: float64

### Series 데이터 갱신, 추가 .삭제

In [39]:
# 원래 데이터
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [42]:
attack['파이리']  = 1616
attack['리자몽']  = 8888
del attack['이상해씨']