### 변수
 - 정수형 (int)
 - 논리형 (Boolean)
 - 실수형 (float)
 - 문자형 (str)

### 인덱싱과 슬라이싱
- 순서가 있는 모든 자료형에 순번을 부여

In [2]:
"apple"[0]                              # 문자열 인덱싱

'a'

In [3]:
["apple", "banana", "melon"][0][0]       # 리스트 인덱싱

'a'

In [4]:
["apple", "banana",["melon", "watermelon"]] [2][1][0]

['apple', 'banana', ['melon', 'watermelon']]

In [5]:
fruit = [["mango", "grape"],["apple", "banana",["melon", "watermelon"]]] 
fruit[1][2][0][3]

'o'

In [13]:
# 슬라이싱

"watermelon"[-5:]    # 오른쪽을 비우면 끝까지
"watermelon"[5:10]

'melon'

In [16]:
fruit = [["mango", "grape"],["apple", "banana",["melon", "watermelon"]]]
fruit[1][2][1][0:5]

'water'

### 포맷팅

In [19]:
ruit1 = "망고"
fruit2 = "파인애플"
fruit3 = "멜론"

print("시장에 가면 {} 이/가 있다".format(fruit1))    #.format
print(f"시장에 가면 {fruit2} 이/가 있다")            #f"{}"

시장에 가면 망고 이/가 있다
시장에 가면 파인애플 이/가 있다

In [20]:
#인덱싱해서 넣기
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
print(f"There is a {fruit[0]} in the market")

There is a mango in the market

In [21]:
#문자열
sentence = "There is a mango in the market"
print(sentence.count("a")) #숫자세기 .count
print(sentence.find("a")) #최초 등장 위치 표시
print(sentence.upper())       #대문자
print(sentence.lower())       #소문자
print(sentence.split("a"))    #기준으로 쪼개기 / 기준은 없어짐

3
9
THERE IS A MANGO IN THE MARKET
there is a mango in the market
['There is ', ' m', 'ngo in the m', 'rket']

In [22]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace("mango", " ")

'There is a  in the market'

### 연산자

In [23]:
print( 7+7 )
print(int("7") + int("7"))

14
14

##### 다음 중 결과 값이 다른 하나는? (5)
- 1.5+6
- 2.int(5) + int(6)
- 3.int(5+6)
- 4.int("5")+int("6")
- 5.int("5"+"6")

In [27]:
# 자료형의 인덱스의 갯수

fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
len(fruit[0])

5

### 논리형

In [28]:
1 == 5      # 참,거짓으로 구분

False

### 조건문

In [ ]:
if 명제:
    명제가 참일 때 실행하는 코드
else:
    명제가 거짓일 때 실행하는 코드

In [29]:
sutja = 3
sutja = 4
sutja = 5

if sutja%2 == 0:
    print("짝수 입니다.")
else:
    print("홀수 입니다.")           # else는 명제 x  if문이 거짓일 경우 실행

홀수 입니다.

In [30]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
"mango" in fruit

False

In [31]:
"man" in "mango"

True

In [32]:
["mango", "grape"] in fruit

False

In [34]:
"mango"and "grape" in fruit

True

In [35]:
("mango" in fruit) and ("grape" in fruit)

True

In [93]:
lyrics = """\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나 내 자신을 자꾸 꼬집어봐\n너무나 좋아 니가 날 혹시 안 좋아할까 봐\n혼자 얼마나 애태운 지 몰라\n그런데 너도 날 사랑한다니\n어머나 다시 한 번 말해봐\n\nTell me, tell me, tell tell tell tell tell tell me\n나를 사랑한다고 날 기다려왔다고\nTell me, tell me, tell tell tell tell tell tell me\n내가 필요하다 말해 말해줘요\nTell me tell me, tell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me, tell me, tell tell tell tell tell tell me\n꿈이 아니라고 말해 말해줘요\n\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아 니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n\n얼마나 오래 기다린 지 몰라

"""

In [94]:
lyrics

'\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나 내 자신을 자꾸 꼬집어봐\n너무나 좋아 니가 날 혹시 안 좋아할까 봐\n혼자 얼마나 애태운 지 몰라\n그런데 너도 날 사랑한다니\n어머나 다시 한 번 말해봐\n\nTell me, tell me, tell tell tell tell tell tell me\n나를 사랑한다고 날 기다려왔다고\nTell me, tell me, tell tell tell tell tell tell me\n내가 필요하다 말해 말해줘요\nTell me tell me, tell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me, tell me, tell tell tell tell tell tell me\n꿈이 아니라고 말해 말해줘요\n\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아 니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n\n얼마나 오래 기다린 지 몰라\n\n'

In [95]:
if "tell me" in lyrics:
    print("가사에 제목이 포함되어 있다")
else:
    print("가사에 제목이 포함되어 있지 않다.")

가사에 제목이 포함되어 있다

In [96]:
lyrics= lyrics.replace("\n"," ")
lyrics

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까 봐 혼자 얼마나 애태운 지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐  Tell me, tell me, tell tell tell tell tell tell me 나를 사랑한다고 날 기다려왔다고 Tell me, tell me, tell tell tell tell tell tell me 내가 필요하다 말해 말해줘요 Tell me tell me, tell tell tell tell tell tell me 자꾸만 듣고 싶어 계속 내게 말해줘 Tell me, tell me, tell tell tell tell tell tell me 꿈이 아니라고 말해 말해줘요  어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라  얼마나 오래 기다린 지 몰라  '

In [97]:
# lyrics=lyrics.lower()
# lyrics= lyrics.replace("tell me"," ")
# lyrics

In [98]:
# 가리는 경우
lyrics=lyrics.lower()
lyrics= lyrics.replace("tell me","@@@@@@@@@")
lyrics

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까 봐 혼자 얼마나 애태운 지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐  @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@@@ @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 꿈이 아니라고 말해 말해줘요  어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라  얼마나 오래 기다린 지 몰라  '

In [99]:
lyrics= lyrics.replace("  ","  ")     
lyrics

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까 봐 혼자 얼마나 애태운 지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐  @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@@@ @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 꿈이 아니라고 말해 말해줘요  어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라  얼마나 오래 기다린 지 몰라  '

In [100]:
lyrics[1:-1]

'너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어봐 너무나 좋아 니가 날 혹시 안 좋아할까 봐 혼자 얼마나 애태운 지 몰라 그런데 너도 날 사랑한다니 어머나 다시 한 번 말해봐  @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 나를 사랑한다고 날 기다려왔다고 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 내가 필요하다 말해 말해줘요 @@@@@@@@@ @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@@@, @@@@@@@@@, tell tell tell tell tell @@@@@@@@@ 꿈이 아니라고 말해 말해줘요  어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라  얼마나 오래 기다린 지 몰라 '

### 리스트, 튜플
- 리스트는 조작 가능, 튜플은 안됨

##### 데이터 추가
1. 문자열: +
2. 리스트: append, insert

In [1]:
menu = "짜장면, 짬뽕, 탕수육"          # 문자열은 +로 추가 
menu = menu + ", 군만두"
menu

'짜장면, 짬뽕, 탕수육, 군만두'

In [2]:
menu = ["짜장면, 짬뽕, 탕수육"]
menu.append("군만두")                 # 맨뒤에 추가
menu

['짜장면, 짬뽕, 탕수육', '군만두']

In [3]:
menu.insert(1, "팔보채")                 # 지정추가
menu

['짜장면, 짬뽕, 탕수육', '팔보채', '군만두']

### 데이터 제거

1. 문자열:replace
2. 리스트:del,remove,pop

In [24]:
menu = "짜장면, 팔보채, 짬뽕, 탕수육, 군만두"
menu = menu.replace (", 군만두","")
menu

'짜장면, 팔보채, 짬뽕, 탕수육'

In [5]:
menu.remove("팔보채")
menu

['짜장면', '짬뽕', '탕수육', '군만두']

In [6]:
menu.pop()
menu

['짜장면', '짬뽕', '탕수육']

### 데이터 교체
1. 문자열 : replace
2. 리스트 : 함수없음

In [10]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace("군만두", "팔보채")
menu

'짜장면, 짬뽕, 탕수육, 팔보채'

In [13]:
menu = ["짜장면", "짬뽕", "탕수육", "군만두"]
menu[1] = "유산슬"
menu

['짜장면', '유산슬', '탕수육', '군만두']

In [17]:
fruit = [["mango", "grape"],["apple","banana", ["melon", "watermelon"]]]

#### 밑의  fruit의 "apple"을 "pineapple"로 바꿔주세요.

In [20]:
fruit[1][0] = "pineapple"
fruit

[['mango', 'grape'], ['pineapple', 'banana', ['melon', 'watermelon']]]

# 반복문

In [ ]:
while 명제:
    명제가 참인 한 실행되는 코드

####  무한루프를 피하는 방법
1. 특정 조건에서 while문에 걸려 있는 명제가 거짓이 되도록 설계한다.
2. break를 사용한다.

In [26]:
n = 0 
while n < 3:
    print(n)
    n = n + 1

0
1
2

In [27]:
#while True     # 별도의 조치가 없는한 무한반복

n = 0
while True:
    print(n)
    n = n + 1
    if n >= 3:
        break
    else:
        pass

0
1
2

### 1000이 넘는 43중의 배수 중 가장 작은 수를 찾고 싶습니다.

In [1]:
#1.
n = 1000
while  n%43 != 0:
    n = n+1
print(n)

1032

In [19]:
n = 1000
while True:
    n = n + 1
    if n%43 == 0:
        print(n)
        break
    else:
        pass

1032

In [3]:
#2.
n = 0 
while n * 43 < 1000:
    n = n + 1 
print( n * 43)

1032

In [20]:
n3 = 0 
while True:
    n3 = n3 +1
    if n3 * 43 >= 1000:
        print(43*n3)
        break
    else:
        pass

1032

## 10,000이 넘는 수 중에서, 가장작은 43과 67의 공배수를 구해주세요.

- 43과 67의 공배수란, 43과 67을 모두 약수로 가지고 있는 수
- 정답 : 11524

In [2]:
n = 10000
while (n % 43 != 0) or (n % 67 !=0):
    n += 1
print(n)

11524

In [4]:
n = 10000
while True:
    n = n + 1
    if (n%43 == 0 ) and (n%67 == 0):
        print(n)
        break
    else:
        pass

11524

In [ ]:
for 변수 in 순서가 있는 자료형:
    코드

In [8]:
for i in [1,2,3,4]:
    print(i**2)

1
4
9
16

In [12]:
for i in [1,2,3,4,5,6,7,8,9]:
     print ("3 x {} = {}.".format(i, 3*i))

3 x 1 = 3.
3 x 2 = 6.
3 x 3 = 9.
3 x 4 = 12.
3 x 5 = 15.
3 x 6 = 18.
3 x 7 = 21.
3 x 8 = 24.
3 x 9 = 27.

In [14]:
while n < 9:
    print("Hello python!")
    n += 1

In [15]:
for i in range(9):
    print("Hello python!")

Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!
Hello python!

In [20]:
n = 0
a = [1,2,3,4,5,6,7]
b = [2,4,3,6,5,3,7]

for i in range(len(a)):
    if a[i] == b[i] :
        n += 1 
    else:
        pass
n

3

In [ ]:
n = 0
a = [1,2,3,4,5,6,7]
b = [2,4,3,6,5,3,7]

for w,i in range in enumerate(a):
    if i == b[w] :                         # W는 인덱스 번호, i == a가출력
        
        n += 1 
    else:
        pass
n

### 구구단 출력

In [18]:
for a in range(1,10):
    print(f"{a}단 시작!\n")
    for b in range(1,10):
        result = (a * b)
        print("{} x {} = {} ". format(a,b,result))
    print("---------------------")

1단 시작!

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
---------------------
2단 시작!

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------------------
3단 시작!

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---------------------
4단 시작!

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------------------
5단 시작!

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---------------------
6단 시작!

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------------------
7단 시작!

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---------------------
8단 시작!

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------------------
9단 시작!

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------------

### try-except 문

In [ ]:
try:
    에러가 날 수도 있는 코드가 에러가 나지 않을 경우에 실행될 코드
except:
    에러가 날 수도 있는 코드가 에러가 났을 때 실행될 코드

In [27]:
for i in range(10):                           # 파이썬에서는 허용 하지 않지마 개발자가 허용 
    try:
        print(1/(7-i))
    except:
        print("에러가 났습니다.")

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
에러가 났습니다.
-1.0
-0.5

In [26]:
a = int(input("3의 배수를 입력하세요 : "))              # 파이썬은 허용 개발자가 허용안함
if a%3 != 0:
    raise Exception("너 혼난다")
else:
    print(a)

3의 배수를 입력하세요 : 2

Exception: 너 혼난다

## 오류 코드

In [33]:
a = range(10)[12]             # 인덱스 범위 오류

IndexError: range object index out of range

In [28]:
a = range(10                # EOF : ()를 잘 안닫았을때 오류

SyntaxError: unexpected EOF while parsing (2282165109.py, line 1)

In [34]:
for i in range(10):
if 2 == 2:
    print(1)
else:
    print(3)

IndentationError: expected an indented block (4186657812.py, line 2)

### 1부터 100까지 "제곱의 합" 과 "합의 제곱" 의 차는?

In [36]:
a = 0
b = 0

for i in range(1,101):
    
    b = b + i**2 
    a = a + i
    
print(a**2 - b)

25164150

### 딕셔너리

In [1]:
gg = {"사과":800, "바나나":1000, "포도" : 800}
gg["사과"]

800

In [2]:
gg["파인애플"] = 1200        # 정보추가
gg

{'사과': 800, '바나나': 1000, '포도': 800, '파인애플': 1200}

In [3]:
del gg["파인애플"]           # 정보삭제
gg

{'사과': 800, '바나나': 1000, '포도': 800}

In [4]:
gg[0]                    # 딕셔너리는 익덱싱 x

KeyError: 0

In [5]:
for i in gg:           # for문 사용 가능
    print(i)

사과
바나나
포도

In [6]:
gg.keys()          # key 값 불러오기

dict_keys(['사과', '바나나', '포도'])

In [7]:
gg.values()       # values 값 불러오기

dict_values([800, 1000, 800])

### 물가가 10% 올랐습니다.
- gg 딕셔너리의 각 과일의 가격을 10% 올려주세요.

In [8]:
gg

{'사과': 800, '바나나': 1000, '포도': 800}

In [9]:
for i in gg:
    gg[i] = gg[i] * 1.1
print(gg)

{'사과': 880.0000000000001, '바나나': 1100.0, '포도': 880.0000000000001}

In [10]:
for i in gg:
    gg[i] = int(gg[i] * 1.1)
print(gg)

{'사과': 968, '바나나': 1210, '포도': 968}

### 전국 사과 가격의 평균을 구해주세요.

In [1]:
ggg = {"서울점" : {"사과" : 800, "바나나" : 1000, "포도" : 800},
       "부산점" : {"사과" : 700, "바나나" : 900, "포도" : 900},
       "대구점" : {"사과" : 750, "바나나" : 800, "포도" : 1000}}

In [4]:
a= 0
for i in ggg:
    
    a = a + ggg[i]["사과"]
print(a/len(ggg))

750.0

In [5]:
ggg["서울점"]["사과"]

800

In [7]:
a= 0
for i in ggg:
    
    a = a + ggg[i]["사과"]
print(a/3)

750.0

### 함수 (def)

In [2]:
def add(x,y):
    return x + y

In [3]:
add(2, 3)

5

In [5]:
def jegop(x,y):
    a = 0
    b = 0
    for i in range(x,y + 1):
        a = a + i 
        b = b + i**2
    return a **2 -b

In [6]:
jegop(1,100)

25164150

In [7]:
a = 0
b = 0

for i in range(1,101):
    
    b = b + i**2 
    a = a + i
    
print(a**2 - b)

25164150

In [8]:
import random

In [9]:
random.random()    # 0부터 1사이의 랜덤숫자

0.31725066052761075