### 변수설정
 정수 (integer)
 실수 (float)
 문자(string)
 논리(boolean)

In [5]:
num = 10
print(num)

10

In [2]:
num = 20
print(num)

20

In [3]:
type(num)

int

In [4]:
num = 10.1
type(num)

float

### 연산자

In [6]:
num = 10 + 10
num

20

In [7]:
num = num + 5
num

25

In [8]:
num += 5
num

30

NameError: name 'n' is not defined

In [ ]:
n = n + 1
if n%100 == 0:
    print("지금 n번째 돌아가는중 ")

### 문자열

In [12]:
string = "오늘 점심 뭐먹지?"
type(string)

str

In [14]:
print("오늘" + " 점심 " + "뭐먹지?")

오늘 점심 뭐먹지?

In [15]:
"점심" * 3 == "점심" + "점심" + "점심"

True

In [16]:
"점심" * 3           # 문자열은 더하기만 가능, 문자열 * 정수 는 가능

'점심점심점심'

### 인덱싱, 슬라이싱

"오늘 점심 뭐먹지?"
0. "오"
1. "늘"
2. ""
3. "점"
4. "심"
5. ""
6. "뭐"
7. "먹"
8. "지"
9. "?"

In [17]:
"오늘 점심 뭐먹지?"[6]    # 인덱싱

'뭐'

In [18]:
"오늘 점심 뭐먹지?"[3:5]  # 슬라이싱

'점심'

In [19]:
"오늘 점심 뭐먹지?"[-7 :-5]

'점심'

In [20]:
"오늘 점심 뭐먹지?"[0:]

'오늘 점심 뭐먹지?'

In [23]:
menu = "김치복음밥"              ### format
#m enu = "참치김밥"
# menu = "우동"

"오늘 점심 메뉴는 %s입니다." %menu

'오늘 점심 메뉴는 김치복음밥입니다.'

In [25]:
print("오늘 점심 메뉴는 {}입니다." .format(menu))

오늘 점심 메뉴는 김치복음밥입니다.

In [43]:
lyrics = "sorry sorry sorry sorry 내가 내가 내가 먼저 네게 네게 네게 빠져"

In [44]:
lyrics.count("sorry")      # () 안에 문자열 갯수 출력

4

In [49]:
lyrics.upper()            # 대문자 변경

'SORRY SORRY SORRY SORRY 내가 내가 내가 먼저 내게 내게 내게 빠져'

In [50]:
lyrics.lower()             # 소문자 변경

'sorry sorry sorry sorry 내가 내가 내가 먼저 내게 내게 내게 빠져'

In [51]:
lyrics.find("sorry")          #()안에 내용이 있는지 확인 0이면 있다 -1이면 없다

0

In [52]:
 yrics = lyrics.replace("내가", "너가")         # 내용 변경
lyrics = lyrics.replace("네게", "내게")              
lyrics

'sorry sorry sorry sorry 내가 내가 내가 먼저 내게 내게 내게 빠져'

In [53]:
lyrics.split()

['sorry',
 'sorry',
 'sorry',
 'sorry',
 '내가',
 '내가',
 '내가',
 '먼저',
 '내게',
 '내게',
 '내게',
 '빠져']

In [42]:
lyrics.split("가")

['sorry sorry sorry sorry 너', ' 너', ' 너', ' 먼저 너', ' 너', ' 너', ' 빠져']

### boolean

In [38]:
type (1+1 ==2)

bool

In [39]:
1 + 2 != 2

True

In [54]:
a = 1 + 1 == 2

In [55]:
a

True

In [56]:
a + a

2

In [57]:
1+1 == 2 and 1+2 == 2

False

In [58]:
1+1 == 2 or 1+2 == 2

True

### 조건문

if 명제:
    명제가 참일 경우 실행되는 코드
else:
    명제가 거짓일 경우 실행되는 코드

In [59]:
money = 999
if money >= 1250:
    print("버스를 타고 간다.")
else:
    print("걸어서 간다.")

걸어서 간다.

if 명제1:
    명제1이  참일 경우 실행되는 코드

elif 명제2 
명제1은 거짓이지만, 명제2가 참일 경우 실행되는 코드  

else:
    명제1과 명제2가 모두 거짓일 경우 실행되는 코드

In [ ]:
money = 2000
if money >= 5000:
    print("택시를 타고 간다.")
    
elif (money >= 1250) and (money < 5000):      # 교집합을 없애주기 위해서 and 사용해서 범위 설정
    print("버스를 타고 간다.")
    
else:
    print("걸어서 간다.")

In [ ]:
((나 == 주먹) and (상대 == 가위)) or ((나 == 가위) and (상대 == 보자기))or ((나 == 보자기) and (상대방 == 주먹))

## 리스트, 튜플

In [60]:
a = [1,2]
b = ("가", "나")

In [61]:
print(a)        # 변수에 여러개의 값을 할당가능
print(b)

[1, 2]
('가', '나')

In [62]:
c = [1,2,a]       # 리스트 안에 리스트가 들어갈 수도 있다
print(c)

[1, 2, [1, 2]]

#### 리스트는 조작할 수 있지만, 튜플은 조작할 수 없다.
  조작 : 원소를 추가하거나, 없애거나, 교체하거나, 순서를 바꾸는 행위

### 원소추가

In [63]:
"짜장" + "면"

'짜장면'

In [64]:
a = ["짜", "장"]          
a.append("면")                   # 리스트에 내용추가(문자열에 사용불가)
a

['짜', '장', '면']

In [65]:
"짜장면" [2]

'면'

In [66]:
a[2]

'면'

In [67]:
b = [1, 2, [3,4]]       
b[2][1]                            # 4를 출력

4

In [68]:
a.insert (0,"간")           # 원하는 위치에 내용추가
a

['간', '짜', '장', '면']

In [69]:
a

['간', '짜', '장', '면']

In [70]:
del a[0]       # 값 삭제
a

['짜', '장', '면']

In [71]:
a.remove("면")    # 원하는 값 삭제
a

['짜', '장']

In [72]:
a[1] = "왕"     # 교체

In [74]:
a

['짜', '왕']

In [75]:
m = "간짜장면"
m.replace("간", "")

'짜장면'

In [77]:
m = "짜장"
m.replace("장", "왕")      #교체

'짜왕'

In [78]:
k = ["가", "나", "라", "마", "다"]
k.reverse()               #  순서뒤집기
k

['다', '마', '라', '나', '가']

In [79]:
k.sort()           # 오름차순 정렬
k

['가', '나', '다', '라', '마']

In [80]:
len("짜장면은 맛있다.")           # 인덱스 갯수 출력

9

In [81]:
len(k)

5

In [82]:
fruit = ["사과", "바나나", "키위", "망고", "파인애플"]

In [86]:
len(fruit)

3

In [87]:
"배" in fruit

False

In [88]:
"사과" in fruit

True

In [89]:
"사과" in "사과는 맛있어"

True

In [91]:
("사과" in fruit) and ("바나나" in fruit)    # 리스트안에 사과와 바나나가 있는지 확인

True

In [92]:
["사과","바나나"] in fruit

False

## 반복문

In [ ]:
while 명제:
    명제가 참인 한 실행되는 코드

In [93]:
n = 1 
while n < 3:
    print(n)
    n = n + 1

1
2

In [101]:
n = 1 
while Treu:
    print(1)
    n = n + 1
    
    if n == 100:
    break
    else:
        pass

IndentationError: expected an indented block (628716775.py, line 6)

In [ ]:
for 변수 in 인덱싱이 가능한 자료형:      
    코드

In [98]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [103]:
for num in range(1,10):
    print("3 x {} = {}".format(num, 3*num))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [106]:
for i in range(1,10):
    for w in range(1,10):
         print("{} x {} = {}".format(i, w, i*w))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 너무너무 중요한 반복문
 - 10,000보다 큰 57과 83의 공배수중 가장 작은 수를 출력해주세요.
 - 공배수 : 57과 83을 모두 약수로 가지는 수

In [116]:
n = 10000
while (n%57 != 0) or (n%83 != 0):
    n = n + 1
print(n)

14193

In [117]:
n = 10000
while True:
    if n % 57 == 0 and n % 83 == 0:
        break
    else:
        n = n + 1
print(n)

14193

## 예외처리

In [ ]:
for i in range(10):
    print(1/(i-7))

In [ ]:
try:
    코드
except:
    코드가 에러가 날 경우 실행되는 코드

In [118]:
for i in range(10):            # python 오류
    try:
        print(1/(i-7))
    except:
        print("삐용삐용")

-0.14285714285714285
-0.16666666666666666
-0.2
-0.25
-0.3333333333333333
-0.5
-1.0
삐용삐용
1.0
0.5

In [121]:
a = int(input("3의 배수를 입력하시오:"))         #  개발자 지정 오류
if a%3 == 0 :
    pass 
else:
    raise Exception("3의 배수가 아닙니다")
print(a)

3의 배수를 입력하시오:5

Exception: 3의 배수가 아닙니다

### 딕셔너리

키는 수정할수 없음 벨류값은 수정가능

In [122]:
dictionary = {"A" : "가", "B" : "나", "C":"다", "D" : "라"}

In [123]:
lst = ["가","나","다","라"]

In [ ]:
lst[0]

In [125]:
dictionary["A"]    #딕셔너리 에서 순서는 중요 x 키값이 중요

'가'

In [128]:
csb = {"이름" : ["홍길동", "임꺽정", "장길산"], "나이" : [20, 35, 52], "키" : [168,182,189]}

In [129]:
csb["이름"]

['홍길동', '임꺽정', '장길산']

In [130]:
csb.keys()     # 키값만 출력

dict_keys(['이름', '나이', '키'])

In [131]:
csb.values()   # 벨류값 출력

dict_values([['홍길동', '임꺽정', '장길산'], [20, 35, 52], [168, 182, 189]])

In [133]:
csb["성별"] = ["남", "남", "남"]
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [168, 182, 189],
 '성별': ['남', '남', '남']}

In [134]:
del csb["성별"]
csb

{'이름': ['홍길동', '임꺽정', '장길산'], '나이': [20, 35, 52], '키': [168, 182, 189]}

In [136]:
for i in csb.keys():
    print(i)

이름
나이
키

In [ ]:
csb = {"이름" : ["홍길동", "임꺽정", "장길산"],
       "나이" : [20, 35, 52],
        "키"  : [160, 200, 180]
        "발사이즈" : [260,290,270],}

#### for문을 활용해서 홍길동, 임꺽정, 장길산의 나이 평균, 키 평균, 발 사이즈 평균을 구해주세요

In [149]:
csb = {"이름" : ["홍길동", "임꺽정", "장길산"],
       "나이" : [20, 35, 52],
        "키"  : [160, 200, 180],
        "발사이즈" : [260,290,270]}
        # " 평균들 : [나이평균, 키평균, 발사이즈 평균]}

In [150]:
for i in csb:                 #딕셔너리는 슬라이싱이 안됨
    print(i)

이름
나이
키
발사이즈

In [152]:
for i in list(csb.keys())[1:]:
    print(i)

나이
키
발사이즈

In [ ]:
for i in list(csb.keys())[1:]:
     n = 0  
    for w in csb[i]:
        n = n + w
    averages.append(n/len(csb[i]))
    
csb["평균들"] = averages
csb

In [153]:
for i in csb:
    print(i)

이름
나이
키
발사이즈

In [145]:
averages = []                     
for i in csb:
    try:                                    # python 문법상 구할수 없는 값을 제외하기 위해 Try,except 사용 (ex.이름)
        n = 0  
        for w in csb[i]:
            n = n + w
        averages.append(n/len(csb[i]))

    except:
        pass
    
csb["평균들"] = averages
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [168, 182, 189],
 '평균들': [35.666666666666664, 179.66666666666666]}