In [47]:
csb = {"이름" : "홍길동", "나이" : 20, "키" : 168}

class1_4 = {"이름" : ["홍길동", "김철수", "최영희"],
            "나이" : [20, 21,22],
             "키" : [168,177,204]}

In [3]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [4]:
class1_4["발 사이즈"] = [290,275,240]            # 추가
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [5]:
del class1_4["발 사이즈"]             # 삭제
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [7]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [8]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [9]:
for i in class1_4:
    print(i)

이름
나이
키

In [10]:
"이름" in class1_4

True

In [11]:
"홍길동" in class1_4

False

### class1 4의 "이름" key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다.
 - 홍길동 > 길동
 - 김철수 > 철수
 - 김영희 > 영희

In [18]:
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [22]:
class1_4["이름"] = ["길동", " 철수", "영희"]
class1_4

{'이름': ['길동', ' 철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

### - 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.
 
 - 이때, 학생들의 평균을 저장하는 새로운 항목을 추가하고 싶다.
 - scores에 학생들이 수학,영어,국어 평균 성적을 기록한 "성적" 정보를 추가해 주세요

In [24]:
scores = {'홍길동' : {'수학': 99, '영어': 80,'국어':75},
          '김미정' : {'영어': 67, '국어' : 87, '수학':55},
          '정수진' : {'수학':67, '국어' : 41, '영어':23}}

scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23}}

In [46]:
math = 0
eng = 0
kor = 0

for i in scores:
    math = math + scores[i]["수학"]
    eng = eng + scores[i]["영어"]
    kor = kor + scores[i]["국어"]
    
scores["평균 점수"] = {"국어" : kor/len(scores), "영어" : eng/len(scores), "수학" : math/len(scores)}   
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균 점수': {'국어': 73.66666666666667,
  '영어': 73.66666666666667,
  '수학': 73.66666666666667}}

In [50]:
dirty = 73.66666666      # 반올림
round(dirty)

74

In [51]:
import math

In [52]:
math.floor(dirty)     # 내림

73

In [53]:
math.ceil(dirty)      # 올림

74

In [54]:
round(dirty, 2)     #소수점 두번째 자리 까지 출력

73.67

In [55]:
int(1.6)

1

In [13]:
new_id = input("아이디를 입력하세요")

allowed = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p' ,'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 
           'y', 'z', "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0",  "-", "_", "."]


# # 1단계
new_id = new_id.lower()
#  print(new_id)


# 2단계
for i in new_id:
    if i not in allowed:
        mew_id = new_id.replace(i,"")
# print(new_id) 


# 3단계
while ".."in new_id:
    new_id = new_id.replace("..",".")
print(new_id)

아이디를 입력하세요sdfdsnfs....
sdfdsnfs.