## while

In [ ]:
while 명제:
    명제가 참인 한 영원히 반복하는 코드

In [2]:
n = 0
while n < 3:
    print(1)
    n = n + 1

1
1
1

### while문을 사용해서 "Hello python"을 10 번 출력합니다.

In [3]:
a = 0
while a < 10:
    print("Hello python")
    a = a + 1

Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python
Hello python

In [4]:
while 1 <2:
    print(1)
    break

1

In [5]:
n =1 
while True:               # 계속 반복
    print(n)
    if n < 100:
        n= n +1
    else: 
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
n = 1
while n <101:
    print(n)
    n = n + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

- 두개의 정수를 입력받습니다.
- 입력받은 두 정수의 합을 출력합니다.
- 두개의 정수로 0과 0을 입력받은 경우, 반복문에서 이탈합니다.

In [3]:
while True:
    a =int(input("첫번째 정수 입력 : "))
    b = int(input("두번째 정수 입력 : "))
    
    if(a == 0 and b == 0):
        break
    else:
        print(a+b)

첫번째 정수 입력 : 1
두번째 정수 입력 : 0
1
첫번째 정수 입력 : 6
두번째 정수 입력 : 7
13
첫번째 정수 입력 : 0
두번째 정수 입력 : 0

### 다이어트 관리 프로그램
- 목표 몸무게를 입력합니다.
- 현재 몸무게를 입력합니다.
- 매 주 감량한 몸무게를 입력한뒤, 현재 몸무게가 목표 몸무게보다 적어지면, 프로그램을 종요합니다.
- 출력 갑은 " 축하삽니다! ___주 걸렸습니다." 형태입니다.

In [2]:
weight = int(input("현재 무게 입력  : "))
goal= int(input("목표 몸무게 입력  : "))
n = 0 

while weight > goal:
    lost_weight = int(input("매주 감량한 몸무게 입력  : "))
    n = n +1 
    weight = weight - lost_weight
    
print("축하합니다! {}주 걸렸습니다.".format(n))

현재 무게 입력  : 34
목표 몸무게 입력  : 34
축하합니다! 0주 걸렸습니다.

######

In [3]:
r = range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
food_list = ["초밥", "짜장면","짬뽕"]
for i in food_list:
    print(i[0])

초
짜
짬

In [5]:
n=0
for i in range(10):
    n = n + i +1
print(n)

55

In [6]:
### 1에서 100사이의 숫자 중 3의 배수인 값들의 합을 구하시오.

In [20]:
add = 0 
for i in range(1,101):
    if i%3==0:
        add += i
print(add)

1683

### 1에서 100 사이의 숫자 중 소수의 합을 구하시오

In [22]:
result = 0
for i in range(2,101):
    nmj = []
    for w in range(2, i):
        nmj. append(i%w)
    if 0 not in nmj:
        result = result + i

result

1060

### 구구단 출력
- 3단부터 19단 까지 출력하시오.
- 출력은 " 2 x 2 = 4 " 의 형식입니다.

In [10]:
for a in range(3,20):
    for b in range(1,10):
        result = a*b
        print(f"{a} x {b} = {result}")
    print("--------------")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
--------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
--------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
--------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
--------------
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
--------------
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
--------------
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
--------------
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
--------------
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
--------------
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
--------------

### 업다운 게임

- 컴퓨터는 1 부터 100 사이의 임의의 자연수를 생각합니다.
- 플레이어는 1 부터 100 사이의 임의의 자연수를 input으로 입력합니다.
- 컴퓨터가 생각한 수가 플레이어가 입력한 수보다 크다면 up, 작다면 Down을 출력합니다.
- 플레이어가 입력한 수가 컴퓨터가 생각한 수와 일치하면 몇번만에 맞췄는지 출력하고 프로그램을 종료합니다.

In [3]:
import random 
com_num = random.randint(1,100)
n = 1

while True:
    num = int(input("숫자를 입력하세요 >> "))
    n += 1
    
    if num < com_num:
        print("up")
    
    elif num > com_num:
        print("down")
    
    else:
        print("정답입니다.{}번 만에 맞추셨습니다.".format(n))
        break

숫자를 입력하세요 >> 37
down
숫자를 입력하세요 >> 23
up
숫자를 입력하세요 >> 31
up
숫자를 입력하세요 >> 35
정답입니다.4번 만에 맞추셨습니다.