In [19]:
lunch_menu = "곱창볶음"
lunch_menu1 = "꽈배기"
lunch_menu2 = "짬뽕"

print("오늘의 메뉴는 %s와 %s입니다."%(lunch_menu1, lunch_menu2))

오늘의 메뉴는 꽈배기와 짬뽕입니다.

In [20]:
print("오늘의 메뉴는 {}입니다.".format(lunch_menu))

오늘의 메뉴는 곱창볶음입니다.

In [21]:
print("오늘의 메뉴는 {1}와 {0}입니다.".format(lunch_menu1, lunch_menu2))

오늘의 메뉴는 짬뽕와 꽈배기입니다.

In [22]:
print("오늘의 메뉴는 {0}와 {1}입니다.".format(lunch_menu1, lunch_menu2))

오늘의 메뉴는 꽈배기와 짬뽕입니다.

In [23]:
print(f"오늘의 메뉴는 {lunch_menu1}와 {lunch_menu2}입니다.")

오늘의 메뉴는 꽈배기와 짬뽕입니다.

# 변수 X에 100을 대입하고,변수y 200을 대입한 뒤, 변수 add에 X와 y의 합을 대입합니다.
- 그 수, 대입한 변수를 바탕으로 아래 문자를 출력합니다.
- "100과 200의 합은 300입니다."

In [27]:
x=100
y=200
add=x+y

print('"{}과 {}의 합은 {}입니다."'.format(x,y,add))

"100과 200의 합은 300입니다."

In [28]:
song = "tell me tell me tetetetete tell me"

In [29]:
song.count("tell me")

3

In [30]:
song.find("tetetete")

16

In [32]:
song.upper()      #대문자 치환

'TELL ME TELL ME TETETETETE TELL ME'

In [33]:
song

'tell me tell me tetetetete tell me'

In [36]:
song = song.upper()     
song

'TELL ME TELL ME TETETETETE TELL ME'

In [39]:
song.lower()

'tell me tell me tetetetete tell me'

In [40]:
song.title()

'Tell Me Tell Me Tetetetete Tell Me'

In [44]:
song.replace("T","Y")

'YELL ME YELL ME YEYEYEYEYE YELL ME'

In [45]:
song.split(" ")

['TELL', 'ME', 'TELL', 'ME', 'TETETETETE', 'TELL', 'ME']

In [1]:
sentence = "나는 밥을 먹었다. 아주 맛이 있었다."
sentence.split(".")

['나는 밥을 먹었다', ' 아주 맛이 있었다', '']

In [47]:
ah_ryeon = "       tell       "
ah_ryeon.strip()

'tell'

In [49]:
ah_ryeon.rstrip()              #오른쪽 공백만 없어짐

'       tell'

In [54]:
ah_ryeon.lstrip()             # 왼쪽 공백

'.........tell........'

In [52]:
ah_ryeon = ".........tell........"
ah_ryeon.strip()

'.........tell........'

In [53]:
ah_ryeon.strip(".")

'tell'