In [77]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [113]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [114]:
driver.get("https://www.hsd.co.kr/")

In [115]:
#창 최대화 하기
driver.maximize_window()

In [116]:
# 전체메뉴 xpath주소
menu = driver.find_element_by_xpath('//*[@id="gnb"]/div[2]/ul/li[3]/p/a')
all_menu = driver.find_element_by_xpath('//*[@id="gnb"]/div[2]/ul/li[3]/div/ul/li[1]/a')

### 액션 체인 만들기

In [117]:
from selenium.webdriver.common.action_chains import ActionChains

In [118]:
# 액션 만들기
actions = ActionChains(driver)
# 메뉴버튼
actions.move_to_element(menu)
# 전체메뉴 클릭하기
actions.click(all_menu)
actions.perform()

## 메뉴이름/가격수집  + 더보기(while문 사용)

In [ ]:
# menuList_416 > div > div.item-text > h4

In [120]:
# 메뉴
title = driver.find_elements_by_css_selector('h4.h.fz_03')

In [121]:
for i in title:
    print(i.text)

데미햄버그 불고기 파스타
데미햄버그 불고기 덮밥
아보카도 게맛살 명란비빔밥
아보카도 소고기 명란비빔밥
핫 치즈 닭갈비덮밥
오리지널 치즈 닭갈비덮밥
매화(순살 고등어 간장구이)
진달래
개나리(순살 고등어 간장구이)
돈까스도련님고기고기
탕수육도련님고기고기
새치 고기고기
돈치 고기고기
오븐구이 오리도시락
숯불직화구이
소불고기
메가치킨제육
칠리 찹쌀탕수육도련님
동백
치킨제육
돈까스도련님
제육볶음
돈치스팸 도시락
제육 김치찌개 정식
제육 김치 부대찌개 정식
돈치스팸 김치 부대찌개 정식
빅치킨마요 김치 부대찌개 정식
치킨마요 김치 부대찌개 정식
빅치킨마요 김치찌개 정식
치킨마요 김치찌개 정식
메가스팸마요
스팸마요
메가치킨마요
왕치킨마요
빅치킨마요
치킨마요
참치마요
돈치마요
돈까스 카레
스팸 김치볶음밥
김치볶음밥
스팸철판볶음밥
소불고기 철판볶음밥
나시고랭
묵은지 김치찌개
김치 부대찌개
숯불직화구이 덮밥
마파두부 덮밥
왕카레돈까스덮밥
새우돈까스 덮밥
돈까스 덮밥
열무 감초고추장 비빔밥
열무 두부강된장 비빔밥
소불고기 감초고추장 비빔밥
시골제육 두부강된장 비빔밥
참치야채 감초고추장
튼튼도시락
토네이도 소세지 파스타
트리플 치즈 파스타
토마토 미트 파스타

In [125]:
# menuList_456 > div > div.item-text > div > strong

In [123]:
# 가격
price = driver.find_elements_by_css_selector('div.item-price > strong')

In [124]:
for i in price:
    print(i.text)

5,200
4,800
6,500
6,500
5,900
5,900
10,000
7,500
8,000
6,000
5,800
6,700
5,800
6,900
6,500
5,400
7,000
4,200
5,800
4,700
4,500
4,200
4,900
8,200
8,500
8,500
7,500
6,900
7,000
6,500
5,600
3,700
5,800
4,800
4,100
3,500
3,200
3,800
4,500
4,700
3,900
4,500
4,700
6,000
4,500
5,800
5,900
5,000
5,900
4,100
4,000
4,500
4,900
5,200
5,000
3,300
5,000
5,500
5,500
4,500

In [111]:
# 더보기 버튼누르기
while True:
    try:
        btn= driver.find_element_by_css_selector('#btn_more > span > a')
        btn.click()
    except:
        break

In [126]:
# 전체 정리

import time

# 더보기 버튼누르기   (더보기버튼을 가장 먼저 작성)
while True:
    try:
        btn= driver.find_element_by_css_selector('#btn_more > span > a')
        btn.click()
        time.sleep(1)
    except:
        break
        
        
# 메뉴
title = driver.find_elements_by_css_selector('h4.h.fz_03')
# 가격
price = driver.find_elements_by_css_selector('div.item-price > strong')

In [127]:
title_list =[]
for i in title:
    title_list.append(i.text)
    
price_list =[]
for i in price:
    price_list.append(i.text)

In [128]:
data = {'메뉴명' : title_list, '가격' : price_list}

In [129]:
food = pd.DataFrame(data)
food

               메뉴명     가격
0    데미햄버그 불고기 파스타  5,200
1     데미햄버그 불고기 덮밥  4,800
2   아보카도 게맛살 명란비빔밥  6,500
3   아보카도 소고기 명란비빔밥  6,500
4       핫 치즈 닭갈비덮밥  5,900
..             ...    ...
89         무말랭이 무침    400
90             한솥밥  1,000
91             현미밥  1,700
92      리얼 티라미수 찰떡  1,500
93        리얼꿀 미니호떡  2,200

[94 rows x 2 columns]

## beatifulsoup 사용

In [135]:
from bs4 import BeautifulSoup as bs

In [136]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://www.hsd.co.kr/")
driver.maximize_window()

In [137]:
# 전체 메뉴 Xpath 주소
menu = driver.find_element_by_xpath('//*[@id="gnb"]/div[2]/ul/li[3]/p/a')
all_menu = driver.find_element_by_xpath('//*[@id="gnb"]/div[2]/ul/li[3]/div/ul/li[1]/a')

In [138]:
# 액션 만들기
actions = ActionChains(driver)
# 메뉴버튼
actions.move_to_element(menu)
# 전체메뉴 클릭하기
actions.click(all_menu)
actions.perform()

In [139]:
# 더보기 버튼누르기
while True:
    try:
        btn= driver.find_element_by_css_selector('#btn_more > span > a')
        btn.click()
    except:
        break

In [140]:
soup = bs(driver.page_source, 'html.parser')

In [141]:
title_bs = soup.select('h4.h.fz_03')

In [142]:
price_bs = soup.select('div.item-price > strong')

In [ ]:
title_list =[]
for i in title:
    title_list.append(i.text)
    
price_list =[]
for i in price:
    price_list.append(i.text)

In [143]:
data = {'메뉴명' : title_list, '가격' : price_list}

In [144]:
food = pd.DataFrame(data)
food

               메뉴명     가격
0    데미햄버그 불고기 파스타  5,200
1     데미햄버그 불고기 덮밥  4,800
2   아보카도 게맛살 명란비빔밥  6,500
3   아보카도 소고기 명란비빔밥  6,500
4       핫 치즈 닭갈비덮밥  5,900
..             ...    ...
89         무말랭이 무침    400
90             한솥밥  1,000
91             현미밥  1,700
92      리얼 티라미수 찰떡  1,500
93        리얼꿀 미니호떡  2,200

[94 rows x 2 columns]