# classfier

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC

### 1. 목적 - SVM을 가지고 iris 데이터를 분류해보자

### 2. 데이터 수집

In [2]:
df = load_iris()
df.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [3]:
x = df.data
y = df.target

In [4]:
x = pd.DataFrame(x,columns = df.feature_names)
y = pd.DataFrame(y,columns = ['species'])

In [5]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
y

     species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

### 3. 데이터 전처리
- 스케일링
- 레이블 인코딩

In [7]:
# 스케일링
transformer = MinMaxScaler()
transformer.fit(x)

MinMaxScaler()

In [8]:
x_data = transformer.transform(x)

In [9]:
# 레이블 인코딩
le = LabelEncoder()
le.fit(y)

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [10]:
print(le.classes_)

[0 1 2]

In [11]:
y_data = le.transform(y)

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
# 훈련, 평가 데이터
x_train, x_test, y_train, y_test = train_test_split(x_data,y_data, random_state = 0)

### 4. 탐색적데이터분석(EDA) - 클래스별 비율, 시각화

### 5. 모델 선택

In [13]:
model = SVC(kernel = 'rbf',C=1.0,gamma='auto', probability=True)

### 6. 모델 학습

In [14]:
model.fit(x_train, y_train)

SVC(gamma='auto', probability=True)

### 7.  모델 평가

In [15]:
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.9464285714285714
0.9736842105263158

In [16]:
lebels = ['세토사','버시칼라','버지니아']

#### 새로운 데이터 예측

In [17]:
new_test = [[5.3, 3.7, 1.5, 0.2]]

new_test = pd.DataFrame(new_test,columns = ['Sepan length', 'Sepal width', 'Petal width','Petal length'])

new_test = transformer.transform(new_test)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Petal length
- Petal width
- Sepal width
- Sepan length
Feature names seen at fit time, yet now missing:
- petal length (cm)
- petal width (cm)
- sepal length (cm)
- sepal width (cm)

  warnings.warn(message, FutureWarning)

In [18]:
y_predict = model.predict(new_test)

In [20]:
label = labels[y_predict[0]]

NameError: name 'labels' is not defined

In [ ]:
print(label, comfidence)